<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>傳送結果</title>
    
</head>
<body>
    <div class="container">
        <h1>已收到訊息</h1>
        <p>訊息傳送成功，謝謝你的回饋！</p>
        
        <br><br>
        <a href="javascript:window.close();">關閉此頁面</a>
    </div>
</body>
</html>